# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# 以下文件/目录不会提交到 Git

# dependencies（依赖，安装可得）
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production（构建产物）
/dist
build

# 环境变量（含敏感信息，不提交）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
pnpm-lock.yaml
*bak


# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache
